@font-face {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/baloo-2-v2-latin-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url(../assets/fonts/poppins-v15-latin-700.woff2) format('woff2');
}

body {
  font-family: 'Baloo 2';
  background-color: #dec2a4;
  color: #ffebd6;
}

h3 {
  font-family: 'Poppins';
  color: #91785d;
}
