@font-face {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/baloo-2-v2-latin-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url(../assets/fonts/poppins-v15-latin-700.woff2) format('woff2');
}

html {
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  font-family: 'Baloo 2';
  background-color: #dec2a4;
  color: #ffebd6;
}

span {
  font-family: 'Poppins';
  color: #91785d;
}

h3 {
  color: #91785d;
}

a {
  text-decoration: none;
  color: #fff;
}

.top-half {
  height: auto;
  max-width: 800px;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 80px 0 60px;
}

.navLinks > a {
  padding-left: 1.5rem;
  font-family: 'Poppins';
  color: #91785d;
}

.storeBox {
  height: 175px;
  text-align: center;
  margin-top: 25px;
}

.storeContainer {
  white-space: nowrap;
  letter-spacing: 1.5px;
}

.closed {
  height: 40px !important;
}

.dropDownSelect {
  width: 146px;
  text-transform: uppercase;
  border: 0 solid transparent;
  border-bottom: 2px solid #91785d;
  cursor: pointer;
  user-select: none;
  transition: all 0.25s ease;
  overflow: hidden;
}

.dropDownSelect:hover {
  height: calc(30px * 3 + 28px);
  transform: translate(0, -3px);
  box-shadow: 4px 4px 0 0 #91785d;
  border: 2px solid #91785d;
  border-radius: 3px;
}

.dropDownTitle {
  margin: 12px 15px;
}

.dropDownOption {
  display: block;
  text-align: left;
  text-transform: capitalize;
  letter-spacing: 0.05em;
  padding: 0 10px 4px 15px;
  cursor: pointer;
}

.capitalize {
  text-transform: capitalize;
}
